<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/topbits :: headSection(pageTitle='Experience')">
</head>
<body>
<div th:insert="fragments/topbits :: top"></div>
<h3>Step Two: Get Some Experience</h3>
<p>Once you have equipped yourself with the right skill set and boulangerie knowledge through culinary training, it is time to get some real experience in a baking environment and put what you have learnt into practice. Of course it helps if you have connections in the industry and luckily here at Le Cordon Bleu London, we hold quarterly careers fairs where our students have the opportunity to meet with leading hotels, restaurants, bakeries and recruitment agencies.</p>
<p>Also, if you do choose to combine our Diplôme de Boulangerie and Diplôme de Pâtisserie, then there is also the option to add on our Culinary Management and Internship Pathway. This integrated programme provides you with the experience of working in a professional kitchen as part of your culinary training, as well as equipping you with management skills and the business know-how, needed to potentially run your own bakery.</p>
<img th:src="@{/img/experience.png}">
<div th:replace="fragments/bottombits :: bottom"></div>

</body>
</html>